# --- SYSTEM CONFIG - DO NOT TOUCH ---#

arkstChannel=${BRANCH}                                               # change it to a different branch to get non-stable versions
install_bindir="/usr/bin"
install_libexecdir="/usr/libexec/arkmanager"
install_datadir="/usr/share/arkmanager"


# config SteamCMD
steamcmdroot="/home/steam/steamcmd"                                 # path of your steamcmd instance
steamcmdexec="steamcmd.sh"                                          # name of steamcmd executable
steamcmd_user="steam"                                               # name of the system user who own steamcmd folder
steamcmd_appinfocache="/home/steam/Steam/appcache/appinfo.vdf"      # cache of the appinfo command

# config environment
arkserverroot="/ark/server"                                         # path of your ARK server files (default ~/ARK)
arkserverexec="ShooterGame/Binaries/Linux/ShooterGameServer"        # name of ARK server executable
arkbackupdir="/ark/backup"  		                            # path to backup directory
arkautorestartfile="ShooterGame/Saved/.autorestart"                 # path to autorestart file
arkStagingDir="/ark/staging"  

# config Service
servicename="arkserv"                                               # Name of the service (don't change if you don't know what are you doing)
logdir="/ark/log/"                                          # Logs path (default /var/log/arktools)

# Port config 
ark_Port=${STEAMPORT}                                                     # ARK server port (default 7778)
ark_QueryPort=${SERVERPORT}                                               # ARK query port (default 27016)
ark_RCONEnabled="True"                                              # Enable RCON Protocol
ark_RCONPort="32330"                                                # RCON Port

# steamdb specific
appid=376030                                                        # Linux server App ID
mod_appid=346110                                                    # App ID for mods

# Need to be true to work with UPDATEPONSTART (See #10)
arkAutoUpdateOnStart="true"                                        # set this to true if you want to always update before startup

defaultinstance="main"

# We don't use the dots because it doesn't show.
progressDisplayType=spinner

source /ark/arkmanager.cfg
